.blog {
  margin-top: 220px;
  margin-bottom: 268px;

  &__primary-container {
    &__section-one {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 90px;

      &__heading {
        margin-right: 40px;
      }
    }

    &__section-two {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 45px;
    }
  }
}
