@media (max-width: 1100px) {
  .choose {
    margin-top: 140px;
  }

  .choose__primary-container__content {
    flex-direction: column;

    & > :not(:last-child) {
      margin-right: 0;
      margin-bottom: 45px;
    }
  }
}
