@media (max-width: 1260px) {
  .blog {
    margin-top: 140px;
    margin-bottom: 140px;
  }
}

@media (max-width: 1000px) {
  .blog {
    &__primary-container {
      &__section-two {
        grid-template-columns: 1fr;
      }
    }
  }
}

@media (max-width: 900px) {
  .blog {
    margin-bottom: 140px;
  }
}
