@media (max-width: 1260px) {
  .detailed__primary-container {
    margin-top: 140px;
    flex-direction: column-reverse;

    &__image {
      max-width: 688px;
    }

    &__content {
      max-width: 688px;
      margin-bottom: 50px;
    }
  }
}
