.partners {
  width: 920px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 120px;

  &__one {
    :not(:last-child) {
      margin-right: 102px;
    }
    margin-right: 102px;
  }

  &__two {
    :not(:last-child) {
      margin-right: 102px;
    }
  }
}
