.popup {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: -100vh;
  // top: 0;
  background: $neutral-100;
  z-index: 99;
  transform: translateY(-40px);

  &__secondary-container {
    position: relative;

    &__content {
      :nth-child(1) {
        position: absolute;
        top: 23.238vh;
        left: 50%;
        transform: translateX(-50%);
      }

      :nth-child(2) {
        position: absolute;
        top: 31.52vh;
        left: 50%;
        transform: translateX(-50%);
      }

      :nth-child(3) {
        position: absolute;
        top: 38.566vh;
        left: 50%;
        transform: translateX(-50%);
      }

      :nth-child(4) {
        position: absolute;
        top: 45.611vh;
        left: 50%;
        transform: translateX(-50%);
      }

      :nth-child(5) {
        position: absolute;
        top: 52.66vh;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &__buttons {
      position: absolute;
      top: 83.19vh;
      left: 50%;
      transform: translateX(-50%);
      display: flex;

      :first-child {
        margin-right: 20px;
      }
    }
  }
}
