// colors

$primary-500: #5952d1;
$primary-400: #6c63ff;
$primary-300: #9e99ff;
$primary-200: #c5c2ff;
$primary-100: #ecebff;

$secondary-500: #fc4a6e;
$secondary-400: #fd6584;
$secondary-300: #fd9bae;
$secondary-200: #fed7df;
$secondary-100: #feebef;

$neutral-500: #2f2e41;
$neutral-400: #717082;
$neutral-300: #9893a3;
$neutral-200: #cfcfde;
$neutral-100: #ffffff;

$black: #000;

// text

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Playfair Display", serif;
  color: $neutral-500;
}

.h1--desktop {
  font-size: 86px;
  line-height: 88px;
}

.h2--desktop {
  font-size: 60px;
  line-height: 64px;
}

.h3--desktop {
  font-size: 50px;
  line-height: 56px;
}

.h4--desktop {
  font-size: 40px;
  line-height: 46px;
}

.h5--desktop {
  font-size: 34px;
  line-height: 42px;
}

.h6--desktop {
  font-size: 28px;
  line-height: 34px;
}

.h1--mobile {
  font-size: 46px;
  line-height: 46px;
}

.h2--mobile {
  font-size: 34px;
  line-height: 40px;
}

.body-large {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 34px;
  color: $neutral-300;
}

.body-medium {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: $neutral-300;
}

.body-small {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: $neutral-300;
  text-decoration: none;
}

.body-small-one {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  line-height: 16px;
  color: $neutral-300;
}

.body-title {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: $neutral-500;
}

.body-title-one {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  color: $neutral-500;
}

.body-quotes {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-style: italic;
  line-height: 34px;
  color: $neutral-300;
}

// containers

.primary-container {
  max-width: 1260px;
  padding: 0 40px;
  margin: 0 auto;
}

.secondary-container {
  max-width: 1360px;
  padding: 0 40px;
  margin: 0 auto;
}

// links

.link-one {
  white-space: nowrap;
  font-size: 16px;
  line-height: 21.79px;
  text-decoration: none;
  padding-bottom: 6px;
  color: $neutral-300;
  transition: all 150ms ease-in-out;
  font-weight: bold;

  &:hover {
    border-bottom: 4px solid $primary-300;
    color: $neutral-500;
  }
}

.link-two {
  white-space: nowrap;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  color: $neutral-500;
  transition: 150ms ease-in-out opacity;

  &::before {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    z-index: -1;
    height: 14px;
    background: $primary-200;
    opacity: 0.5;
    bottom: 0;
    left: -4px;
  }

  &:hover {
    opacity: 0.7;
  }
}

// buttons

.btn-one {
  white-space: nowrap;
  font-size: 14px;
  text-decoration: none;
  padding: 16px 30px;
  border: 1px solid $primary-400;
  border-radius: 2px;
  font-weight: bold;
  transition: opacity 150ms ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}

.btn-one--white {
  color: $primary-400;
  background: $neutral-100;
}

.btn-one--transparent {
  color: $primary-400;
  background: $neutral-100;
}

.btn-one--primary {
  color: $neutral-100;
  background: $primary-400;
}

// items

.card-one {
  padding: 46px;
  padding-bottom: 62px;
  width: 100%;
  text-align: center;
  background: rgba(236, 235, 255, 0.3);
  border-radius: 2px;
}

.card-one--primary {
  background: $primary-400;

  p {
    color: $neutral-100;
  }
}

.card-two {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__top {
    height: 233px;

    &__image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__bottom {
    &__heading {
      margin-top: 26px;
    }

    &__text {
      margin-bottom: 26px;
    }
  }
}

.card-three {
  padding: 80px 60px;
  background: rgba(236, 235, 255, 0.3);
  border-radius: 2px;
  max-width: 566px !important;
  height: 100%;
  min-height: 328px;

  &__text-one {
    margin-bottom: 40px;
  }
}
