body {
  font-family: "Open Sans", sans-serif;
  position: relative;
}

html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./utilities";

// sections

@import "./popup";
@import "./header";
@import "./partners";
@import "./detailed";
@import "./creative";
@import "./professional";
@import "./choose";
@import "./customer";
@import "./blog";
@import "./footer";
