@import "./utilities";
body {
  font-family: "Open Sans", sans-serif;
  position: relative;
  background: $neutral-100;
  transition: 500ms ease-in-out opacity;
  opacity: 0;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// sections

@import "./popup";
@import "./header";
@import "./partners";
@import "./detailed";
@import "./creative";
@import "./professional";
@import "./choose";
@import "./customer";
@import "./blog";
@import "./footer";

// media queries

@import "./media_utilities";
@import "./media_header";
@import "./media_partners";
@import "./media_detailed";
@import "./media_creative";
@import "./media_professional";
@import "./media_choose";
@import "./media_customer";
@import "./media_blog";
@import "./media_footer";
